<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" content="{{csrfToken}}">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="Random ASCII art delivered via SMS text message">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="ASCII Art Sent By Text" />
  <meta property="og:url" content="http://www.artbytext.com" />
  <meta property="og:image" content="http://www.artbytext.com/img/social.png" />
  <meta property="og:description" content="Randomly selected ASCII art delivered via SMS text message" />

  <link rel="stylesheet" href="styles/styles.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">

  <title>ASCII Art By Text</title>
</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {{{body}}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="scripts/twilio.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-26654749-11', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
