<div class="wrapper">
  <div class="header">
    <div class="title"><a href="/">Art By Text</a></div>
    <div class="social">
      <div class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <div class="facebook">
        <div class="fb-like" data-href="http://www.artbytext.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>
    </div>
  </div>

  <div class="mainContent">
    <div class="headline">ASCII Art Sent By Text</div>
    <div class="phoneNumberForm">
      <form id="getNumberForm">
        <input type="text" id="userNumber" name="userNumber" pattern="\d*" autocomplete="off" placeholder="Enter your cell number">
        <br>
        <button type="submit" id="submissionButton">Submit</button>
      </form>
    </div>
    <div class="description">
      <p>Do you remember ASCII art? Those small, often highly detailed, pictures created entirely from keyboard characters have been around since the bulletin board systems of the 1970's and 1980's. I've always been amazed at some of the images that people were able to create, so I decided to catalog some of the best single line ASCII art that I've come across. And in order to make it a little fun, I've built the catalog inside a small app that randomly selects and sends you the image via text message.</p>

      <p id="dancers">┏(-_-)┛┗(-_-﻿ )┓┗(-_-)┛┏(-_-)┓</p>

      <p>Simply enter your cell phone number in the input box above, and within a moment or two, you'll receive a text message with a randomly selected one line ASCII art. Go ahead and submit your number more than once if you'd like to see additional pieces. Don't worry, no personal data is stored on the server, so your phone number and details will always remain private.</p>

      <p>Enjoy and share with your friends. And please let me know what you think!</p>
    </div>
  </div>

  <a href="http://twitter.com/jonahkirangi" target="_blank">
    <!-- Thanks @levelsio! -->
    <div class="author">
      <img src="img/jonah.jpeg">
      <span>by Jonah Kirangi</span>
    </div>
  </a>

  <div class="footer">
    <div class="footerTitle">Art By Text - <a href="https://github.com/jonahkirangi/artbytext">Source Code</a> - Made in
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
    </div>
  </div>
</div>
